:root {
  --primary-color: #444;
  --secondary-color: #eece1a;

  --homeImage: url(img/background.jpg);

  --primary-Overlay: rgba(0,0,0, .2);
  --branding-Overlay: rgba(0,0,0, .8);
  --smScreen-Overlay: rgba(0,0,0, .7);

  /*animation variables*/
  --onHoverAnim: all .6s ease-out;
  --menuBtnRot: all .4s ease-out;;  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  color: #fff;
  height: 100%;
  font-family: 'Verdana', 'Tahoma', 'Segoe UI', 'Arial';
  line-height: 1.5;  
}

body#bg-img {
	background-image: var(--homeImage);
	background-size: cover;
}

.overlay {
  background-color: var(--primary-color);
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  opacity: .8;
  z-index: -1;
}

/*heading*/
h1, h2, h3 {
  font-weight: 400;
}

h1.lg-heading {
  font-size: 4rem;
}

h2.sm-heading {
  margin-bottom: 2rem;
  padding: .2rem 1rem;
  background: var(--primary-Overlay);
  display: inline-block;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 0;
}

.text-secondary {
  color: var(--secondary-color);
}

main {
  padding: 4rem;
  /*da bi footer uvek bio fixed za bottom ako nema dovoljno sadrzaja*/
  min-height: calc(100vh - 60px);
}

main .icons {
  margin-top: 1rem;
}

main .icons a {
  padding: .5rem;
}

main .icons a:nth-child(4) {
  font-size: .9rem;
}

main .icons a:hover {
  color: var(--secondary-color);
  transition: var(--onHoverAnim);
}

#home {
  overflow: hidden;
}

#home h1, #about h1, #work h1, #contact h1 {
  margin-top: 15vh;
}

/*menu button*/
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 50px;
  top: 50px;
  cursor: pointer;
  transition: var(--onHoverAnim);
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 5px 0;
  background-color: #fff;
}

.menu-btn:hover .btn-line {
	transition: var(--onHoverAnim);
  background-color: var(--secondary-color);
}

/*rotate into X with menu lines*/
.close {
  transform: rotate(180deg);
  transition: var(--menuBtnRot);
}

/*line 1 - rotate*/
.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);  
}

/*line 2 - hide*/
.close .btn-line:nth-child(2) {
  opacity: 0;
}

/*line 3 - rotate*/
.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}
/*end of rotating btn animation*/
/*end of menu btn styling*/

/*menu overlay styling*/
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: .9;
  visibility: hidden;
}

.menu .show {
  visibility: visible;
}

/*menu that only shows on small screens*/
.menu-2 .show {
  visibility: hidden;
}

.menu .menu-branding, .menu .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

/*menu-branding side*/
.menu .menu-branding.show {
  background: var(--branding-Overlay);
  animation: slideBot .35s linear 1;
}

.portrait {
  width: 250px;
  height: 250px;
  background: url('img/portrait.jpg');
  border-radius: 50%;
  border: solid 3px var(--secondary-color);
}

/*menu-nav side*/
.menu .menu-nav.show {
  background: var(--primary-Overlay);
  animation: slideTop .35s linear 1;
}

.menu .menu-nav .nav-item .nav-link {
  display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
  padding: .5rem 1rem;
  margin: .5rem;
  background: var(--smScreen-Overlay);
}

.nav-item .active {
  color: var(--secondary-color);
}

.nav-link:hover {
  color: var(--secondary-color);
  transition: var(--onHoverAnim);
}
	/*keyframes animations for menu*/
@keyframes slideTop {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideBot {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.menu-2 .menu-branding-2, .menu-2 .menu-nav-2 {
	display: none;
}
/*///////////////////////////////////////////////////////////////*/
/*style of the about page*/
#about h2.sm-heading {
  margin-bottom: 3rem;
  padding: .2rem 1rem;
  background: var(--primary-Overlay);
  display: inline-block;
}

.about-info .bio p {
	font-size: 1.4rem;
}

.about-info .job {
	padding: 1.5rem;
}

.about-info .job h3 {
	font-size: 1.4rem;
	color: var(--secondary-color);
	margin-bottom: 1rem;
}

.about-info .job p {
	font-size: 1.1rem;
}

.about-info {
	display: grid;
	grid-gap: 2rem;
	grid-template-areas: 
		'bioimg bio bio'
		'job1 job2 job3';
	grid-template-columns: repeat(3, 1fr);
}

.about-info img {
	width: 100%;
	max-width: 250px;
}

.bio-image {
	grid-area: bioimg;
	margin: auto;
	border-radius: 50%;
	border: var(--secondary-color) 3px solid;
}

.bio {
	grid-area: bio;
	font-size: 1.5rem;
}

.job-1 {
	grid-area: job1;
}

.job-2 {
	grid-area: job2;
}

.job-3 {
	grid-area: job3;
}

.job {
	background-color: var(--primary-Overlay);
	padding: .5rem;
	border-bottom: var(--secondary-color) 5px solid;
}
/*////////////////////////////////////////////////////////*/
/*styling of my work page*/
.projects {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: .7rem;
}

.projects .item img {
	width: 100%;
	border: 3px #fff solid;
	margin: .6rem 0 .3rem 0;
}

.projects .item img:hover {
	opacity: .5;
	border-color: var(--secondary-color);
	transition: var(--onHoverAnim);
}

/*button styles*/
.btn {
	display: block;
	padding: .3rem .7rem;
	border: 0;
	margin-bottom: .6rem;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border-radius: 5px;
	border: 2px solid var(--secondary-color);
}

.btn:hover {
	color: var(--secondary-color);
	background-color: var(--primary-color);
	transition: var(--onHoverAnim);
	border: 2px solid var(--secondary-color);
}

/*.btn-dark {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

.btn-light {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}*/
/*/////////////////////////////////////////////////////////////*/
/*styling of contact page*/
.boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 1rem;
}

.boxes div {
	font-size: 1.4rem;
	border: 3px #fff solid;
	padding: 1.5rem 2.5rem;
	margin: 1rem .5rem;
	transition: var(--onHoverAnim);
}

.boxes div:hover {
	background-color: var(--secondary-color);
	transform: scale(.95);
}

.boxes div:hover span {
	color: var(--primary-color);
}

/*////////////////////////////////////////////////////////////////*/
/*footer styling*/
#main-footer {
	text-align: center;
	padding: 1rem;
	background-color: var(--primary-Overlay);
	height: 60px;
}
/*//////////////////////////////////////////////////////////*/

/*media querys for smaller screens*/
@media screen and (min-width: 1171px) {
	h1.lg-heading {
  	font-size: 3rem;
	}

	h2.sm-heading {
	  margin-bottom: 1.4rem;
	  padding: .2rem 1rem;
	  background: var(--primary-Overlay);
	  display: inline-block;
	}
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
	h1.lg-heading {
		font-size: 2.4rem;
		line-height: 1;
		padding-bottom: 1.5rem;
	}

	h2.sm-heading {
		font-size: 1.2rem;
		line-height: 2;
	}

	.about-info {
		grid-gap: 1rem;
	}

	.about-info .bio p {
		font-size: 1.2rem;
	}

	.about-info .job h3 {
		font-size: 1.2rem;
		color: var(--secondary-color);
		margin-bottom: 1rem;
	}

	.about-info .job p {
		font-size: 1rem;
	}

	main#work, main#contact {
	  padding: 3rem;
	}

	.projects {
		grid-template-columns: repeat(3, 1fr);
	}

	.boxes div {
		font-size: 1.2rem;
		border: 3px #fff solid;
		padding: 1.5rem 2.5rem;
		margin: 1rem .5rem;
		transition: var(--onHoverAnim);
	}
}

@media screen and (max-width: 768px) {
	main {
		text-align: center;
		padding-top: 1rem;
	}

	h1.lg-heading {
		font-size: 2.4rem;
		line-height: 1;
		padding-bottom: 1.5rem;
	}

	h2.sm-heading {
		font-size: 1.2rem;
		line-height: 2;
	}

	.menu-btn {
	  right: 30px;
	  top: 30px;
	}

	.menu .menu-branding, .menu .menu-nav {
		display: none;
	}

	.menu-2 {
		visibility: hidden;
	}

	.menu-2 .show {
	  visibility: visible;
	}

	.menu-2 .menu-branding-2, .menu-2 .menu-nav-2 {
	  display: flex;
	  flex-flow: column;
	  align-items: center;
	  justify-content: center;
	  width: 100%;
	  overflow: hidden;
	}

	.menu-2 .menu-branding-2.show {
	  background: var(--primary-Overlay);
		height: 40vh;
		animation: slideLeft .35s linear 1;
	}

	.menu-branding-2 .portrait-2 {
		width: 170px;
	  height: 170px;
	  border-radius: 50%;
	  border: solid 3px var(--secondary-color);
		background: url('img/portrait_small.jpg');
	}

	.menu-2 .menu-nav-2.show {
	  background: var(--smScreen-Overlay);
		height: 60vh;
		transform: translate3d(0, 0, 0);
		animation: slideRight .35s linear 1;
	}

	.menu-2 .menu-nav-2 .nav-item .nav-link {
	  display: inline-block;
	  font-size: 1.2rem;
	  text-transform: uppercase;
	  padding: .6rem 0;
	  background: var(--primary-Overlay);
	}

	@keyframes slideLeft {
	  0% {
	    transform: translate3d(-100%, 0, 0);
	  }
	  100% {
	    transform: translate3d(0, 0, 0);
	  }
	}

	@keyframes slideRight {
	  0% {
	    transform: translate3d(100%, 0, 0);
	  }
	  100% {
	    transform: translate3d(0, 0, 0);
	  }
	}

	/*about page styling on smaller screens*/
	.about-info {
		grid-template-areas: 
			'bioimg'
			'bio'
			'job1'
			'job2'
			'job3';
		grid-template-columns: 1fr;
	}

	.about-info .job h3 {
		font-size: 1rem;
		color: var(--secondary-color);
		margin-bottom: .8rem;
	}

	.about-info .job p {
		font-size: .9rem;
	}

	.about-info .bio p {
		font-size: 1rem;
	}

	main#work, main#contact {
	  padding: 2rem;
	}

	.projects {
		grid-template-columns: repeat(2, 1fr);
	}

	.boxes div {
		width: 90%;
		font-size: 1rem;
		border: 3px #fff solid;
		padding: 1.5rem 0;
		margin: 1rem .5rem;
		transition: var(--onHoverAnim);
	}
}

@media screen and (max-width: 500px) {
	main#work, main#contact {
	  padding: 1rem;
	}

	.projects {
		grid-template-columns: repeat(1, 1fr);
	}

	.boxes div {
		width: 100%;
	}
}









